@charset "UTF-8";
/*-----------------RESPONSIVE*/
/*-----------------NAV*/
@media only screen and (max-width: 425px) {
  #MobNav {
    display: none;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  #MobNav {
    display: none;
  }
}

@media only screen and (min-width: 1023px) and (max-width: 1441px) {
  #MobNav {
    display: none;
  }
}

@media only screen and (min-width: 1440px) {
  #MobNav {
    display: none;
  }
}

@media only screen and (max-width: 425px) {
  #MobNav > div {
    margin: 5% 5%;
    text-align: center;
  }
}

.MobNavIcon {
  height: 30px;
  width: 30px;
  cursor: pointer;
  margin: 1% 0%;
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .MobNavIcon {
    display: none;
  }
}

@media only screen and (min-width: 1023px) and (max-width: 1441px) {
  .MobNavIcon {
    display: none;
  }
}

@media only screen and (min-width: 1440px) {
  .MobNavIcon {
    display: none;
  }
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin: auto;
}

@media only screen and (max-width: 425px) {
  nav {
    display: none;
  }
}

#HeaderWrapp > nav {
  width: 50%;
}

@media only screen and (max-width: 425px) {
  #HeaderWrapp > nav {
    width: 100%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  #HeaderWrapp > nav {
    width: 70%;
  }
}

@media only screen and (min-width: 1023px) and (max-width: 1441px) {
  #HeaderWrapp > nav {
    width: 70%;
  }
}

#Dropdown img {
  height: 16px;
  width: 16px;
  vertical-align: bottom;
  cursor: pointer;
}

#Dropdown:hover .DropdownLinks {
  display: block;
}

#Dropdown:hover span img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

nav > div {
  margin: 0% 5%;
}

nav > div:last-child {
  margin: 0% 0%;
  margin-left: 5%;
}

nav a, nav a:visited {
  text-decoration: none;
  color: #6d6d6d;
}

nav a:hover {
  color: #d6d6d6;
}

.DropdownLinks {
  display: none;
  position: absolute;
  background: #464545;
  padding: 1%;
}

@media only screen and (max-width: 425px) {
  .DropdownLinks {
    margin-top: 4%;
    position: unset;
  }
}

.DropdownLinks a, .DropdownLinks a:visited {
  display: block;
  color: #bdbdbd;
  margin-top: 4%;
}

.DropdownLinks a:hover {
  color: #d6d6d6;
}

@media only screen and (max-width: 425px) {
  .DropdownLinks a:last-child {
    margin-bottom: 4%;
  }
}

/*-----------------RESPONSIVE*/
/*-----------------HEADER*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1%;
  background: #161a1a;
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  header {
    padding: 2%;
  }
}

@media only screen and (min-width: 1023px) and (max-width: 1441px) {
  header {
    padding: 2%;
  }
}

#HeaderWrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
}

@media only screen and (max-width: 425px) {
  #HeaderWrapp {
    display: block;
    width: 100%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  #HeaderWrapp {
    width: 90%;
  }
}

#HeaderWrapp > div {
  width: 50%;
}

@media only screen and (max-width: 425px) {
  #HeaderWrapp > div {
    width: 100%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  #HeaderWrapp > div {
    width: 30%;
  }
}

@media only screen and (min-width: 1023px) and (max-width: 1441px) {
  #HeaderWrapp > div {
    width: 30%;
  }
}

@media only screen and (max-width: 425px) {
  #HeaderWrapp > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 4% 0%;
    padding-bottom: 0%;
  }
}

#MainHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  padding: 5%;
  background-image: url("../images/bg.png"), -webkit-gradient(linear, left top, right top, color-stop(60%, black), color-stop(82%, #2e2e2e), to(#505050));
  background-image: url("../images/bg.png"), linear-gradient(90deg, black 60%, #2e2e2e 82%, #505050 100%);
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

@media only screen and (max-width: 425px) {
  #MainHeader {
    padding: 8% 5%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  #MainHeader {
    background-position: unset;
  }
}

#MainHeader > div {
  width: 50%;
}

@media only screen and (max-width: 425px) {
  #MainHeader > div:first-child {
    width: 0%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  #MainHeader > div:first-child {
    width: 0%;
  }
}

@media only screen and (min-width: 1023px) and (max-width: 1441px) {
  #MainHeader > div:first-child {
    width: 30%;
  }
}

#MainHeader > div:last-child {
  width: 25%;
}

@media only screen and (max-width: 425px) {
  #MainHeader > div:last-child {
    width: 100%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  #MainHeader > div:last-child {
    width: 100%;
  }
}

@media only screen and (min-width: 1023px) and (max-width: 1441px) {
  #MainHeader > div:last-child {
    width: 55%;
  }
}

#MainHeader > div button {
  background: #f14f25;
  border-radius: 10px;
  border: 1px solid #f14f25;
  color: white;
  padding: 3% 6%;
  outline: none;
  margin-bottom: 7%;
  font-size: 17px;
  cursor: pointer;
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  #MainHeader > div button {
    padding: 2.5% 5%;
  }
}

#MainHeader h1 {
  font-weight: 700;
}

#MainHeader p {
  margin: 5% 0%;
}

#MainHeader button:hover {
  background: #d0360e;
  border: 1px solid #d0360e;
}

#MainHeader h4, #MainHeader span {
  font-size: 17px;
  color: #7e7e7e;
}

#MainHeader h4 {
  font-weight: 400;
  margin-bottom: 2%;
}

#MainHeader span {
  font-weight: 500;
}

#MainHeader span {
  font-weight: 600;
}

#MainHeader span::after {
  content: '•';
  color: #d0360e;
  margin: 0% 2%;
}

#MainHeader span:last-child::after {
  content: '';
}

#MainHeader span:hover {
  color: white;
  cursor: pointer;
}

/*-----------------RESPONSIVE*/
/*-----------------MAIN*/
#Wrapper {
  width: 70%;
  margin: 0% auto;
}

.Container h3 {
  font-weight: 700;
  margin-bottom: 2%;
  font-size: 25px;
}

@media only screen and (max-width: 425px) {
  .Container h3 {
    margin-bottom: 4%;
  }
}

.Container:first-child h3 {
  font-weight: 700;
  margin-bottom: 2%;
  font-size: 20px;
}

#Wrapper-col-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.Container {
  margin: 8% 0%;
}

@media only screen and (max-width: 425px) {
  .Container {
    margin: 20% 0%;
  }
}

.Statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1.5% 0%;
  border-radius: 10px;
  border: 1px solid #d6d6d6;
  width: 20%;
}

@media only screen and (max-width: 425px) {
  .Statistics {
    width: 100%;
    margin: 3% 0%;
    padding: 4% 0%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .Statistics {
    width: 45%;
    margin: 2% 0%;
    padding: 2.5% 1%;
  }
}

@media only screen and (min-width: 1023px) and (max-width: 1441px) {
  .Statistics {
    width: 45%;
    margin: 2% 0%;
    padding: 2% 1%;
  }
}

.Statistics:last-child {
  width: 22%;
}

@media only screen and (max-width: 425px) {
  .Statistics:last-child {
    width: 100%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .Statistics:last-child {
    width: 45%;
    margin: 2% 0%;
    padding: 2.5% 1%;
  }
}

@media only screen and (min-width: 1023px) and (max-width: 1441px) {
  .Statistics:last-child {
    width: 45%;
    margin: 2% 0%;
    padding: 2% 1%;
  }
}

.Statistics > div {
  width: 30%;
}

.Statistics > div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  color: #f47a1b;
  font-size: 18px;
  font-weight: 700;
}

.Statistics h3, .Statistics p {
  margin: 0;
  padding: 0;
}

.StatisticsArrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.StatisticsArrow img {
  width: 50%;
  margin: auto;
}

.Statistics:nth-child(2) .StatisticsArrow img {
  width: 50%;
  margin: auto;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.StatisticsArrow > div {
  background: linear-gradient(42deg, #ef2d2d 0%, #f26021 100%);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 700;
  width: 30px;
  height: 30px;
  text-align: center;
  margin: auto;
  padding-bottom: 1%;
}

.Statistics:nth-child(2) > div:nth-child(1) > div {
  background: #a8a8a8;
}

#InputWrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 2%;
}

@media only screen and (max-width: 425px) {
  #InputWrapp {
    margin-bottom: 10%;
  }
}

#InputWrapp > div {
  width: 50%;
}

@media only screen and (max-width: 425px) {
  #InputWrapp > div {
    width: 100%;
  }
}

#InputWrapp > div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.Toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35%;
  background: #e6e6e6;
  padding: 0.8%;
  border-radius: 5px;
  font-weight: 700;
}

@media only screen and (max-width: 425px) {
  .Toggle {
    width: 100%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .Toggle {
    width: 80%;
  }
}

@media only screen and (min-width: 1023px) and (max-width: 1441px) {
  .Toggle {
    width: 60%;
  }
}

.Toggle > div {
  cursor: pointer;
  font-weight: 400;
  font-size: 15px;
}

.Toggle > div:first-child {
  background: #f14f25;
  padding: 4% 7%;
  color: white;
  border-radius: 5px;
}

.Toggle > div:last-child {
  padding: 3% 7%;
  color: #878787;
  margin: auto;
}

#InputWrapp input {
  width: 45%;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 0% 2%;
  height: 80%;
  margin-top: auto;
  outline: none;
}

@media only screen and (max-width: 425px) {
  #InputWrapp input {
    width: 100%;
    padding: 1% 2%;
    margin: 3% 0%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  #InputWrapp input {
    width: 60%;
  }
}

@media only screen and (min-width: 1023px) and (max-width: 1441px) {
  #InputWrapp input {
    width: 55%;
  }
}

#InputWrapp input:focus {
  border: 1px solid black;
}

table {
  margin: auto;
  width: 100%;
  border-bottom: 1px solid #e4e4e4;
  border-collapse: collapse;
}

@media only screen and (max-width: 425px) {
  table {
    width: 300%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  table {
    width: 200%;
  }
}

table thead {
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
}

table thead tr th {
  padding: 1%;
  color: #818181;
  font-weight: 400;
  text-align: left;
  font-size: 15px;
}

table thead tr th > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

table tbody tr td {
  padding: 1%;
  margin: 8px;
}

table tbody tr td:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

table tbody tr td:first-child > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 5%;
  font-weight: 700;
}

#Wrapper-col-2 input {
  height: 75%;
}

@media only screen and (max-width: 425px) {
  #Wrapper-col-2 input {
    height: 100%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  #Wrapper-col-2 input {
    height: 88%;
  }
}

@media only screen and (min-width: 1023px) and (max-width: 1441px) {
  #Wrapper-col-2 input {
    height: 86%;
  }
}

@media only screen and (min-width: 1023px) and (max-width: 1441px) {
  #Wrapper-col-2 table {
    width: 150%;
  }
}

.TableContainer::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

#Wrapper-col-3 table tbody tr td:nth-child(4) {
  font-weight: 700;
}

#Wrapper-col-3 input {
  height: 82%;
}

@media only screen and (max-width: 425px) {
  #Wrapper-col-3 input {
    height: 100%;
  }
}

@media only screen and (min-width: 1023px) and (max-width: 1441px) {
  #Wrapper-col-3 table {
    width: 150%;
  }
}

table tbody tr td:last-child {
  font-size: 20px;
  cursor: pointer;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

table tbody tr td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

table tbody tr {
  color: #646464;
}

table tbody tr:hover {
  background: #f3f3f3;
  color: #000000;
}

.Metadata {
  background: black;
  padding: 2%;
  width: 45px;
  height: 45px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.Metadata > div {
  background: #ef2d2d;
  border-radius: 100%;
  height: 13px;
  width: 13px;
  margin-right: -8px;
  margin-top: -7px;
}

.PageNum {
  margin-top: 3%;
  text-align: center;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.PageNum > span {
  margin: 0% 1%;
  cursor: pointer;
  color: #7e7e7e;
}

.PageNum > span:hover {
  color: #333333;
}

.PageNum > span:last-child {
  display: block;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#HeaderNImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 425px) {
  #HeaderNImg {
    margin-bottom: 4%;
  }
}

#HeaderNImg img {
  height: 22px;
  width: 22px;
  margin: auto;
}

#HeaderNImg div {
  background: linear-gradient(42deg, #ef2d2d 0%, #f26021 100%);
  height: 45px;
  width: 45px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#HeaderNImg h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0%;
  margin-left: 3%;
}

.TableArrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 3%;
  cursor: pointer;
  color: #868585;
}

.TableArrows > div:first-child {
  height: 30%;
}

.TableArrows > div:hover {
  color: black;
}

th p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#ArrowsSearch {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 425px) {
  #ArrowsSearch {
    display: none;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  #ArrowsSearch {
    display: none;
  }
}

@media only screen and (min-width: 1023px) and (max-width: 1441px) {
  #ArrowsSearch {
    width: 13%;
  }
}

#ArrowsSearch p {
  margin: auto;
  font-size: 15px;
}

#Compilations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 2% 0%;
}

.Compilation {
  width: 23%;
}

@media only screen and (max-width: 425px) {
  .Compilation {
    width: 40%;
    margin: 4% 0%;
  }
}

.Compilation img {
  width: 100%;
}

.Compilation h4 {
  margin: 2% 0%;
}

.Compilation h5 {
  font-weight: 400;
  color: #7a7a7a;
  text-transform: uppercase;
}

.CompilationsSpan {
  color: #878787;
  font-size: 14px;
  font-weight: 500;
}

#Chart {
  width: 100%;
  margin: auto;
}

@media only screen and (max-width: 425px) {
  #Chart {
    position: relative;
    height: 100%;
  }
}

section h1 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 3%;
}

@media only screen and (max-width: 425px) {
  section h1 {
    font-size: 25px;
  }
}

section h2 {
  margin-bottom: 2%;
}

@media only screen and (max-width: 425px) {
  section h2 {
    font-size: 20px;
    margin: 10% 0%;
  }
}

#BoxWrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3%;
}

@media only screen and (max-width: 425px) {
  #BoxWrapp {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.Box {
  width: 20%;
  padding: 1%;
}

@media only screen and (max-width: 425px) {
  .Box {
    margin-top: 15%;
    width: 100%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .Box {
    width: 25%;
  }
}

@media only screen and (min-width: 1023px) and (max-width: 1441px) {
  .Box {
    width: 25%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .Box h4 {
    font-size: 14px;
  }
}

.BoxHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.BoxBody {
  margin: 6% 0%;
  padding: 6% 0%;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}

.BoxBody > div, .BoxFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.BoxFooter {
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 6%;
}

.BoxFooter span:first-child {
  color: #797979;
  font-weight: 500;
}

.BoxFooter span:last-child {
  color: #f52727;
  font-weight: 500;
}

#MainHero {
  background: url("../images/home-hero.png") no-repeat;
  padding-top: 30%;
  background-size: 100%;
  background-position: center;
}

@media only screen and (max-width: 425px) {
  #MainHero {
    background-position: right;
    background-size: 150% 100%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  #MainHero {
    background-position: top;
  }
}

@media only screen and (min-width: 1023px) and (max-width: 1441px) {
  #MainHero {
    background-position: top;
  }
}

#MainHeroContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(17%, #363636), to(rgba(0, 0, 0, 0.787553)));
  background: linear-gradient(0deg, #363636 17%, rgba(0, 0, 0, 0.787553) 100%);
  padding: 4%;
}

@media only screen and (max-width: 425px) {
  #MainHeroContainer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0%;
    padding-top: 13%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  #MainHeroContainer {
    padding: 0%;
    padding-top: 5%;
  }
}

.Progress {
  margin: 0% 2%;
  color: white;
  text-align: center;
}

@media only screen and (max-width: 425px) {
  .Progress img {
    height: 40%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .Progress img {
    height: 50%;
  }
}

@media only screen and (min-width: 1023px) and (max-width: 1441px) {
  .Progress img {
    height: 50%;
  }
}

.Progress h2 {
  margin-top: 15%;
  font-weight: 500;
}

@media only screen and (max-width: 425px) {
  .Progress h2 {
    font-size: 16px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .Progress h2 {
    font-size: 19px;
  }
}

@media only screen and (min-width: 1023px) and (max-width: 1441px) {
  .Progress h2 {
    font-size: 21px;
  }
}

#ChartPercentage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  padding: 1% 1%;
}

@media only screen and (max-width: 425px) {
  #ChartPercentage {
    display: none;
  }
}

#ChartPercentage h3 {
  color: #f52727;
  margin: 10px 0px;
}

#ChartPercentage h4 {
  font-size: 15px;
  color: #3b3b3b;
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  #ChartPercentage h4 {
    font-size: 13px;
  }
}

#ChartPercentage h4:hover {
  text-decoration: underline;
  cursor: pointer;
}

.ChartPercentage {
  margin: 0% 1%;
}

.ChartPercentage:nth-child(1) {
  width: 16%;
}

.ChartPercentage:nth-child(2) {
  width: 21%;
}

.ChartPercentage:nth-child(3) {
  width: 10.5%;
}

.ChartPercentage:nth-child(4) {
  width: 52.5%;
}

.ChartPercentageBracket {
  height: 20px;
  border-bottom: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  border-left: 1px solid #dbdbdb;
  margin-bottom: 15px;
}

#AddNewTracksWrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (min-width: 1023px) and (max-width: 1441px) {
  #AddNewTracksWrapp {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (max-width: 425px) {
  #AddNewTracks p {
    font-size: 12px;
    margin-top: 3%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  #AddNewTracks p {
    margin-top: 2%;
  }
}

@media only screen and (min-width: 1023px) and (max-width: 1441px) {
  #AddNewTracks p {
    font-size: 13px;
  }
}

@media only screen and (max-width: 425px) {
  #AddNewTracks h3 {
    font-size: 18px;
  }
}

#AddNewTracksWrapp > div:first-child {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  color: #818181;
}

@media only screen and (max-width: 425px) {
  #AddNewTracksWrapp > div:first-child {
    width: 100%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  #AddNewTracksWrapp > div:first-child {
    width: 100%;
  }
}

@media only screen and (min-width: 1023px) and (max-width: 1441px) {
  #AddNewTracksWrapp > div:first-child {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

#AddNewTracksWrapp > div:last-child {
  width: 70%;
  margin: 0% 4%;
}

@media only screen and (max-width: 425px) {
  #AddNewTracksWrapp > div:last-child {
    width: 100%;
    margin-top: 10%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  #AddNewTracksWrapp > div:last-child {
    width: 100%;
    margin-top: 5%;
  }
}

@media only screen and (min-width: 1023px) and (max-width: 1441px) {
  #AddNewTracksWrapp > div:last-child {
    width: 50%;
    margin: 0% 4%;
  }
}

#AddNewTracksUploaded > div {
  height: 50%;
  overflow-x: auto;
  height: 400px;
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  #AddNewTracksUploaded table {
    width: 100%;
  }
}

#AddNewTracksUploaded > div::-webkit-scrollbar {
  width: 5px;
}

#AddNewTracks {
  border: 1px solid #e7e7e7;
  border-radius: 10px;
  padding: 4%;
}

@media only screen and (max-width: 425px) {
  #AddNewTracks {
    padding: 8%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  #AddNewTracks {
    padding: 6%;
  }
}

@media only screen and (max-width: 425px) {
  #AddNewTracks > div {
    marging: 8% 0%;
  }
}

#AddNewTracks > div:nth-child(2) {
  background: #f1f1f1;
  border-radius: 10px;
  padding: 10% 0%;
  cursor: pointer;
}

@media only screen and (max-width: 425px) {
  #AddNewTracks > div:nth-child(2) {
    margin: 3% 0%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  #AddNewTracks > div:nth-child(2) {
    margin: 3% 0%;
  }
}

#AddNewTracks img {
  height: 45px;
  width: 45px;
}

#AddNewTracksUploaded thead {
  border-top: 0px;
}

#AddNewTracksUploaded thead th {
  padding-bottom: 2%;
}

#AddNewTracksUploaded img {
  height: 12px;
}

#AddNewTracksUploaded table tbody tr td:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
}

#AddNewTracksUploaded table tbody tr td:last-child > div {
  margin: 0% 4%;
}

.Edit > div:first-child {
  display: none;
}

table tbody tr:hover .Edit > div:first-child {
  display: block;
}

#AddNewTracksUploaded table tr {
  border-radius: 10px;
}

#UploadAlbumWrapp {
  padding: 4% 2%;
  border-radius: 10px;
  border: 1px solid #d6d6d6;
  margin: 0% 8%;
  color: #797979;
}

@media only screen and (max-width: 425px) {
  #UploadAlbumWrapp {
    margin: 0% 0%;
    padding: 8% 4%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  #UploadAlbumWrapp {
    margin: 0% 0%;
  }
}

@media only screen and (min-width: 1023px) and (max-width: 1441px) {
  #UploadAlbumWrapp {
    margin: 0% 2%;
  }
}

#UploadAlbumWrapp h4 {
  text-align: center;
  font-size: 18px;
}

#UploadAlbumWrapp > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#UploadAlbumWrapp > div > div {
  width: 35%;
  padding: 3%;
  margin: auto;
}

@media only screen and (max-width: 425px) {
  #UploadAlbumWrapp > div > div {
    width: 100%;
  }
}

#UploadAlbumWrapp input {
  border: 0px;
  border-bottom: 1px solid #bebebe;
  padding: 8px;
  outline: none;
  width: -webkit-fill-available;
  font-size: 14px;
}

#UploadAlbumWrapp select {
  width: 100%;
  font-size: 14px;
  padding: 8px;
  border: 0px;
  border-bottom: 1px solid #bebebe;
  outline: none;
  color: #797979;
}

#UploadAlbumWrapp form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#UploadAlbumWrapp span {
  font-size: 10px;
  color: #8e8e8e;
}

.AttachFile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#UploadAlbumWrapp form > div {
  margin: 5% 0%;
}

#UploadAlbumWrapp form > div:nth-child(3) {
  margin-bottom: 2%;
  margin-bottom: 2%;
  border-bottom: 1px solid #bebebe;
  padding: 8px;
  font-size: 14px;
}

#UploadAlbumWrapp form button {
  padding: 1.5% 5%;
  background: #e6e6e6;
  border: 1px solid #e6e6e6;
  color: #616161;
  border-radius: 2px;
  cursor: pointer;
}

.AttachFile > div:first-child {
  margin-top: auto;
}

.UploadedImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 425px) {
  .UploadedImg img {
    height: 130px;
    width: 130px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .UploadedImg img {
    height: 180px;
    width: 180px;
  }
}

.ImgPreview span {
  text-align: center;
  display: block;
  margin-top: 2%;
}

#UploadAlbumWrapp > button {
  background: #f14f25;
  border: 1px solid #f14f25;
  padding: 1.3% 4%;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  cursor: pointer;
}

@media only screen and (max-width: 425px) {
  #UploadAlbumWrapp > button {
    padding: 4% 7%;
    margin-top: 2%;
  }
}

input:focus {
  border: 1px solid black;
}

.TableContainer {
  overflow: auto;
}

/*-----------------RESPONSIVE*/
/*-----------------FOOTER*/
footer {
  background: #1e1c1c;
  padding: 3%;
  padding-bottom: 1%;
  margin-top: 2%;
}

footer img {
  height: 22px;
  width: 22px;
  cursor: pointer;
}

footer img:nth-child(2) {
  margin: 0% 2%;
}

footer a, footer a:visited {
  text-decoration: none;
  color: #6d6d6d;
  display: block;
  margin: 10% 0%;
}

footer a:hover {
  text-decoration: none;
  color: #d6d6d6;
}

#FooterWrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
  margin: auto;
}

@media only screen and (max-width: 425px) {
  #FooterWrapp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

#FooterWrapp > div {
  width: 50%;
}

@media only screen and (max-width: 425px) {
  #FooterWrapp > div {
    width: 100%;
  }
}

@media only screen and (max-width: 425px) {
  #FooterWrapp > div:first-child {
    padding: 6% 0%;
    text-align: center;
  }
}

#FooterLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#FooterLinks > div {
  padding: 3%;
}

/*-----------------RESPONSIVE*/
/*-----------------LAYOUT*/
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

/*-----------------------SCROLL*/
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

@media only screen and (max-width: 425px) {
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 50px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 50px;
  }
}

/* Track */
::-webkit-scrollbar-track {
  background: #dfdfdf;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #292929;
  border-radius: 10px;
}

@media only screen and (max-width: 425px) {
  ::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: #8e8e8e;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  ::-webkit-scrollbar-thumb {
    background: #8e8e8e;
  }
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #727272;
}
/*# sourceMappingURL=index.css.map */